:root {
  --main-bg-color: #E5DAC9;
  --main-overlay-color: #F7F2EA;
  --secondary-color: #859186;
  --tertiary-color: #99A196;
  --quaternary-color: #8A918A;
  --navigation-color: #1D3728;
}

.Homepage {
  text-align: center;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--navigation-color);
}

.Homepage-header {
  min-height: 20vh;
  margin: 3rem;
}

main {
  min-height: 80vh;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}
